---
import { type Post } from "@/lib/interfaces.ts";
import { getPostByPageId } from "@/lib/notion/client";
import { getPostLink } from "@/lib/blog-helpers.ts";
import { MENU_PAGES_COLLECTION } from "@/constants";
import { getIconTailwindFilterStyle } from "@/lib/style-helpers";
import Icon from "@/components/Icon.astro";

export interface Props {
	pageId: string;
}

const { pageId } = Astro.props;

let post: Post = null;
if (pageId) {
	post = await getPostByPageId(pageId);
}

const hreflink = post ? getPostLink(post.Slug, post.Collection === MENU_PAGES_COLLECTION) : null;
---

{
	post && (
		<a href={hreflink} class="site-page-link text-link inline items-center justify-center">
			<>
				<span class="mr-1 inline">
					{post.Icon && post.Icon.Type === "emoji" ? (
						post.Icon.Emoji
					) : post.Icon && post.Icon.Type === "external" ? (
						<img
							src={post.Icon.Url}
							class={`no-rss inline h-4 w-4 shrink-0 align-sub ${getIconTailwindFilterStyle(post.Icon.Url)}`}
							alt=""
						/>
					) : (
						<Icon name={"document"} class="inline h-4 w-4 align-sub" aria-hidden="true" />
					)}
				</span>
				<span class="inline w-full">{post.Title}</span>
			</>
		</a>
	)
}
