---
import type { AppBskyActorDefs } from "@atproto/api";

type Props = {
	user: AppBskyActorDefs.ProfileViewBasic;
	link?: boolean | undefined;
	size?: "small" | "medium" | undefined;
};

const { user, link, size = "medium" } = Astro.props;

const src = user.avatar;
---

{
	link ? (
		<a
			class:list={["bsky-avatar", size]}
			href={`https://bsky.app/profile/${user?.handle}`}
			target="_blank"
			rel="noopener noreferrer nofollow"
		>
			{src && <img src={src} alt={user.displayName ?? user.handle} loading="lazy" />}
		</a>
	) : (
		<div class:list={["avatar", size]}>
			{src && <img src={src} alt={user.displayName ?? user.handle} loading="lazy" />}
		</div>
	)
}
<style>
	.bsky-avatar {
		border-radius: var(--bluesky-radius-full);
		overflow: hidden;
		background-color: var(--bluesky-color-border);
		flex-shrink: 0;
	}

	.bsky-avatar img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.medium {
		width: 2rem;
		height: 2rem;
	}

	.small {
		width: 1rem;
		height: 1rem;
	}
</style>
