---
import Icon from "@/components/Icon.astro";
const { order = 0 } = Astro.props;
// https://docs.astro.build/en/tutorial/6-islands/2/
---

<theme-toggle class:list={["ml-auto", `order-${order}`, "sm:order-3"]}>
	<button
		type="button"
		id="themeToggle"
		class="group hover:text-accent hover:ring-accent-400 relative h-10 w-10 cursor-pointer rounded-md p-2 transition-all hover:ring-2"
		aria-label="Toggle Theme"
	>
		<Icon
			class="absolute top-1/2 left-1/2 h-7 w-7 -translate-x-1/2 -translate-y-1/2 scale-0 opacity-0 transition-all group-data-[theme=system]:scale-100 group-data-[theme=system]:opacity-100"
			name={"theme-system"}
			aria-label="Use System Theme"
			id="system-svg"
			stroke="currentColor"
			fill="none"
			stroke-width="1.5"
			stroke-linecap="round"
		/>
		<Icon
			class="absolute top-1/2 left-1/2 h-7 w-7 -translate-x-1/2 -translate-y-1/2 scale-0 opacity-0 transition-all group-data-[theme=light]:scale-100 group-data-[theme=light]:opacity-100"
			name={"theme-light"}
			aria-label="Set Light Theme"
			id="sun-svg"
			stroke="currentColor"
			fill="none"
			stroke-width="1.5"
			stroke-linecap="round"
		/>
		<Icon
			class="absolute top-1/2 left-1/2 h-7 w-7 -translate-x-1/2 -translate-y-1/2 scale-0 opacity-0 transition-all group-data-[theme=dark]:scale-100 group-data-[theme=dark]:opacity-100"
			name={"theme-dark"}
			aria-label="Set Dark Theme"
			id="moon-svg"
			stroke="currentColor"
			fill="none"
			stroke-width="1.5"
			stroke-linecap="round"
		/>
	</button>
</theme-toggle>

<script is:inline>
	const getThemePreference = () => {
		if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
			return localStorage.getItem("theme");
		}
		return "system";
	};

	const updateTheme = () => {
		const theme = getThemePreference();
		if (
			theme === "dark" ||
			(theme === "system" && window.matchMedia("(prefers-color-scheme: dark)").matches)
		) {
			document.documentElement.classList.add("dark");
		} else {
			document.documentElement.classList.remove("dark");
		}
		// Set data-theme on the toggle button to drive Tailwind's group-based variants
		const toggleButton = document.getElementById("themeToggle");
		toggleButton.setAttribute("data-theme", theme);
	};

	// Initial theme setup
	updateTheme();

	const handleToggleClick = () => {
		const theme = getThemePreference();
		let newTheme = "system";

		if (theme === "system") newTheme = "light";
		if (theme === "light") newTheme = "dark";
		if (theme === "dark") newTheme = "system";

		localStorage.setItem("theme", newTheme);
		updateTheme();
	};

	document.getElementById("themeToggle").addEventListener("click", handleToggleClick);

	// Listen for system theme changes
	window.matchMedia("(prefers-color-scheme: dark)").addEventListener("change", () => {
		if (getThemePreference() === "system") {
			updateTheme();
		}
	});
</script>
